# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/web/assets

/web/index.php
/config/db.php
/config/db-migrate.php

/backend/config/db.php
/backend/config/db-migrate.php
/backend/web/index.php

/frontend/config/db.php
/frontend/config/db-migrate.php
/frontend/web/index.php

/backend/web/assets
/frontend/web/assets

/backend