.navbar {
  min-height: 75px;
  background: #212225;
  position: fixed;
  width: 100%;
}
.navbar-brand {
  height: 75px;
  padding: 8px 8px;
  margin-left: 10px;
}
.navbar-brand img {
  width: 60px;
  height: 60px;
}
.navbar-default {
  border-color: #3a3c40;
}
.divider {
  border-top: #3a3c40 solid 1px;
}
.hit_noti a {
  color: #737373;
}
.hit_noti .dropdown-menu {
  border-radius: 0px;
  background: #212225;
  color: #bebebe;
}
.hit_noti .dropdown-menu .fa-bell {
  font-size: 18px;
  margin-top: 2px;
}
.hit_noti .dropdown-menu li:first-child {
  padding-top: 5px;
}
.hit_noti .dropdown-menu > li > a {
  color: #999;
}
.hit_noti .dropdown-menu > li > a:hover {
  color: #fff;
}
.hit_noti .open,
.hit_noti a:focus,
.hit_noti a:active,
.hit_noti a:hover {
  background: none !important;
  color: #fff;
}
.nav li a:hover {
  text-decoration: none;
  background-color: #0056f9;
  color: #fff;
}
.nav li a:focus {
  text-decoration: none;
  background-color: #0056f9;
  color: #fff;
}
#side-menu .active > a:first-child {
  background: #192b52 !important;
  color: #fff;
}
#side-menu ul .active > a:first-child {
  background: #192b52 !important;
  color: #fff;
}
.search_top_bar {
  float: left;
  height: 75px !important;
  width: 800px;
  margin-left: 200px;
  padding-top: 13px;
}
.search_top_bar form {
  border-radius: 50px;
  border: 1px solid #56595e;
  background: #3b3e42;
  color: #ececec;
  width: 100%;
}
.search_top_bar input {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
  background: #3b3e42 !important;
}
.search_top_bar input:active {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
  background: #3b3e42 !important;
}
.search_top_bar input:focus {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
  background: #3b3e42 !important;
}
.search_top_bar input:hover {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
  background: #3b3e42 !important;
}
.sidebar {
  background: #212225;
}
.icon_parent {
  border-radius: 50%;
  border: 1px #bebebe solid;
  padding: 8px;
  margin-right: 15px;
}
.icon_child {
  margin-right: 15px;
}
.position_relative {
  position: relative;
}
.player_side_bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 250px;
}
.player_side_bar .title_player {
  text-transform: uppercase;
  padding: 15px 20px 15px 30px !important;
  width: 100%;
  background: #bd2026;
  color: #fff;
  font-family: 'Raleway-Medium';
}
.player_side_bar .cover_player img {
  width: 100%;
}
.player_side_bar .info_song {
  background: #212225;
  padding: 10px 0px 10px 30px;
  color: #bebebe;
  font-size: 16px;
}
.player_side_bar .player_bar_song {
  padding: 10px;
  background: #292d36;
}
.player_side_bar .player_bar_song img {
  width: 100%;
}
#page-wrapper {
  padding-top: 100px;
}
.padding_with_line {
  margin-top: 30px;
  border-bottom: 1px #bebebe solid;
}
.main_content_page {
  color: #bebebe;
  padding-top: 30px;
  padding-bottom: 50px;
}
.main_content_page .show_content {
  margin-top: 10px;
}
.menu_right_bar_absolute {
  position: absolute;
  right: -30px;
  top: -25px;
  background: #212225;
  width: 250px;
  color: #bebebe;
  z-index: 3;
}
.menu_right_bar_absolute ul li:not(:last-child) {
  border-bottom: 1px solid #3a3c40;
}
.menu_right_bar_absolute ul li:not(:first-child) {
  border-top: 1px solid #111010;
}
#right-menu li ul li i {
  margin-left: 20px;
}
.banner_content {
  background: #212225;
  height: 235px;
}
.head_page_info {
  height: 235px !important;
}
.head_page_info img {
  height: 100%;
  float: left;
  margin-right: 20px;
}
.head_page_info div {
  color: #fff;
  position: relative;
  float: left;
  height: 100%;
}
.head_page_info div p:nth-child(2) {
  font-size: 35px;
  text-transform: uppercase;
}
.head_page_info div button {
  position: absolute;
  bottom: 0px;
  border-radius: 50px;
  padding-right: 40px;
  text-transform: uppercase;
}
.head_page_info div button i {
  margin-right: 5px;
  margin-left: 10px;
}
.list_tab {
  padding-bottom: 20px;
}
.list_tab ul {
  margin-top: 2px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: 1px solid #3a3c40;
  height: 40px;
  border-radius: 10px;
}
.list_tab ul .active {
  background: #0056f9;
  color: #fff;
}
.list_tab ul li {
  float: left;
  list-style: none;
  text-align: center;
  padding: 10px 20px 0px 20px;
  height: 39px;
  margin-top: -10px;
  border-right: 1px solid #3a3c40;
  color: #bebebe;
  min-width: 165px;
  text-transform: uppercase;
}
.list_tab ul li:first-child {
  border-left: 1px solid #3a3c40;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.list_tab ul li:hover {
  background: #0056f9;
  color: #fff;
  cursor: pointer;
}
.box_view label {
  margin-top: 5px;
}


/*Row .row_item content page*/
.row_item {
  margin-bottom: 20px;
}
.row_item .title_row_item {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #3a3c40;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-transform: uppercase;
}
.row_item .title_row_item div.btn-group {
  margin-left: 10px;
}
.row_item .title_row_item > .fa {
  border: 1px solid #3a3c40;
  padding: 10px 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.row_item .title_row_item > .fa:hover {
  background: #fff;
  color: #000;
}
.row_item .title_row_item > .fa:active {
  opacity: 0.5;
}
.row_item .title_row_item > .fa img {
  margin-left: 1px;
  margin-right: -5px;
  margin-top: -4px;
}
.row_item .item_list {
  margin-left: 0px;
  margin-right: 0px;
}
.row_item .item_list .item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.row_item .item_list .item img {
  width: 100%;
}

/*Sunny edit*/

.row_item .title_row_item .arrow_item i {
  border: 1px solid #3a3c40;
  padding: 10px 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.row_item .title_row_item .arrow_item i:hover {
  background: #fff;
  color: #000;
}
.row_item .title_row_item .arrow_item i:active {
  opacity: 0.5;
}

/*END sunny edit*/




.row_item .item_list .item div:nth-child(2) {
  background: #212225;
  padding: 10px;
}
.row_item .item_list .item div:nth-child(3) {
  content: "";
  background: url('../img/line_3_color.jpg') repeat-x;
}
.row_item .item_list .item .rows_2_4_cells span {
  padding: 0;
}
.row_item .item_list .add_new_playlist {
  background: #212225;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
.row_item .item_list .add_new_playlist i {
  font-size: 50px;
  padding: 50px 54px;
  border: 1px solid ;
  border-radius: 50%;
  margin-bottom: 10px;
}
.row_item .item_list .add_new_playlist i:hover {
  background: ;
  cursor: pointer;
}
.row_item .item_list .add_new_playlist i:active {
  opacity: 0.5;
}
.row_item .item_list .img_item {
  position: relative;
}
.row_item .item_list .img_item .mark_item {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/mark.png');
  width: 100%;
  height: 100%;
  display: none;
  padding: 38%;
  cursor: pointer;
}
.row_item .item_list .img_item .mark_item i {
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  font-size: 20px;
}
.row_item .item_list .img_item:hover .mark_item {
  display: block;
}
.row_item .item_list .item_have_cd {
  margin-top: 20px;
}
.row_item .item_list .item_have_cd div:last-child {
  content: "";
  background: url('../img/line_3_color.jpg') repeat-x;
}
.row_item .item_list .item_have_cd .img_item img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.row_item .item_list .item_have_cd .item_text {
  background: #212225;
  padding: 5px 0px 5px 10px;
}
.row_item .item_mark_square .item .img_item img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.row_item .item_mark_square .item .img_item:hover img:nth-child(2) {
  display: none;
}

/*ED === > Row .row_item content page*/




.menu_right_click {
  width: 230px;
  position: fixed;
  border-radius: 0px;
  color: #bebebe;
}
.menu_right_click .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.menu_right_click .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.menu_right_click ul {
  margin-top: -8px;
}
.menu_right_click ul li {
  background: #000;
  border: 1px solid #4c4e55;
  display: block;
}
.menu_right_click .menu_right_click_child {
  position: relative;
}
.menu_right_click .menu_right_click_child:hover ul {
  display: block;
}
.menu_right_click .menu_right_click_child ul {
  position: absolute;
  right: -148px;
  top: 7px;
  display: none;
}
.setting_page .item_list .item {
  padding: 30px;
}
.setting_page .setting_item {
  padding: 15px;
}
.setting_page .setting_item ul {
  margin-left: -40px;
  margin-top: 15px;
}
.setting_page .setting_item ul li {
  list-style: none;
}
.info_by_song_time {
  margin-top: 10px;
  margin-bottom: 25px;
}
.info_by_song_time ul {
  border-top: 1px solid #4c4e55;
  padding-top: 15px;
  padding-left: 0px;
  font-size: 18px;
}
.info_by_song_time ul li {
  float: left;
  margin-right: 60px;
}
.info_by_song_time ul li:first-child {
  list-style: none;
}
.info_by_song_time ul li:not(:first-child) {
  padding-left: 40px;
}
.info_by_song_time ul li a {
  color: #0056ff;
}
.info_by_song_time ul li a:hover {
  color: #bd2026;
}
.table_song_list .title_row_item {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #3a3c40;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.table_song_list .title_row_item > .fa {
  border: 1px solid #3a3c40;
  padding: 10px 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.table_song_list .title_row_item > .fa:hover {
  background: #fff;
  color: #000;
}
.table_song_list .title_row_item > .fa:active {
  opacity: 0.5;
}
.table_song_list .title_row_item > .fa img {
  margin-left: 1px;
  margin-right: -5px;
  margin-top: -4px;
}
.table_song_list table {
  width: 100%;
  max-width: none;
}
.table_song_list table thead {
  background: #192b52;
  border-top: #3a3c40 solid 1px;
}
.table_song_list table thead th {
  border-bottom: #3a3c40 solid 1px !important;
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
}
.table_song_list table thead th:first-child {
  padding-left: 25px;
}
.table_song_list table tbody tr.playing td:not(i) {
  color: #bd2026;
}
.table_song_list table tbody tr.playing td a {
  color: #bd2026;
}
.table_song_list table tbody tr.playing td:nth-child(3) {
  color: #bd2026;
}
.table_song_list table tbody tr.playing td span i {
  padding: 10px 11px;
  border: 1px solid #999;
  border-radius: 50%;
  margin-left: -15px;
  cursor: pointer;
  color: #fff;
}
.table_song_list table tbody tr.playing td span i:hover {
  color: #bd2026;
  border: 1px solid #bd2026;
}
.table_song_list table tbody tr.playing td span i:active {
  opacity: 0.5;
}
.table_song_list table tbody tr td {
  vertical-align: middle;
  border-bottom: #3a3c40 1px solid;
}
.table_song_list table tbody tr td span:first-child {
  margin-left: 20px;
  margin-right: 20px;
}
.table_song_list table tbody tr td .icon-dot-3 {
  font-size: 30px !important;
  line-height: 40px;
  float: right;
  margin-right: 100px;
}
.table_song_list table tbody tr:nth-child(2n+1) > td {
  background: #0e1013;
}
#advised_artists .title_row_item .pull-right > div {
  float: right;
}
#advised_artists .title_row_item .pull-right > div label {
  margin-top: 3px;
}
#advised_artists .title_row_item .pull-right .form-group {
  margin-bottom: 0px;
}
#ads_top_30 .row {
  position: relative;
}
#ads_top_30 .row .history_list {
  width: 250px;
  position: absolute;
  right: -30px;
}
#ads_top_30 .row .history_list .title_row {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
#ads_top_30 .row .history_list div:nth-child(2) {
  background: #212225;
  padding-top: 20px;
  padding-bottom: 20px;
}
#ads_top_30 .row .history_list div:nth-child(2) ul {
  background: url('../img/v_line.png');
  background-position: 27px 100px;
  background-repeat: repeat-y;
}
#ads_top_30 .row .history_list div:nth-child(2) ul li {
  margin-bottom: 15px;
  list-style-image: url('../img/bullet.png');
  padding-left: 10px;
}
#ads_top_30 .row .history_list div:nth-child(2) ul li:first-child {
  list-style-image: url('../img/bullet_top.png');
}
#ads_top_30 .row .history_list div:nth-child(2) ul li:last-child {
  list-style-image: url('../img/bullet_bottom.png');
  background-position: bottom;
}
.my_account_page {
  color: #fff;
}
.my_account_page .row table {
  margin-bottom: 50px;
}
.my_account_page .row table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.my_account_page .row table tr td:nth-child(2) {
  padding-left: 20px;
}
.my_account_page .row table tr td a {
  color: #0056ff;
}
.my_account_page .row table tr td a:hover {
  color: #bd2026;
}
.my_account_page .row table caption {
  font-weight: bold;
  color: #bd2026;
}
.my_account_page .row .text_line {
  margin-top: 10px;
}
.my_account_page .row .text_line a {
  color: #0056ff;
}
.my_account_page .row .text_line a:hover {
  color: #bd2026;
}
.my_account_page #Profile {
  color: #bdbdbd;
}
.my_account_page #Profile .content {
  margin-top: 10px;
}
.my_account_page #Profile .content h5 {
  color: #bd2026;
}
.my_account_page #Profile .content .tabbable-panel {
  margin-top: 20px;
}
.my_account_page #Profile .content form label {
  text-align: left;
}
.my_account_page #Profile .content form input {
  color: #bdbdbd;
  border-radius: 0px;
  padding: 20px;
  background: #000 !important;
  border: 1px solid #2C2A2A;
}
.my_account_page #Profile .content form input:focus {
  box-shadow: none;
}
.my_account_page .SumoSelect {
  width: 100%;
}
.my_account_page .SumoSelect p {
  background: #000;
  border: 1px solid #2C2A2A;
  border-radius: 0px;
  width: 100%;
  padding: 10px 20px;
}
.my_account_page .SumoSelect p label i {
  color: #ccc;
  background: url('../img/arrow.png');
  top: 8px;
}
.my_account_page .SumoSelect .optWrapper {
  border-radius: 0px !important;
  border: 1px solid #666;
}
.my_account_page .SumoSelect .optWrapper ul {
  background: #2C2A2A;
  border-radius: 0px !important;
}
.my_account_page .SumoSelect .optWrapper ul li {
  border-bottom: 1px solid #666;
}
.my_account_page .SumoSelect .optWrapper ul li:first-child {
  border-radius: 0px !important;
}
.my_account_page .SumoSelect .optWrapper ul li:last-child {
  border-radius: 0px !important;
}
.my_account_page .SumoSelect .optWrapper ul li:hover {
  background: #000;
}
.text_in_right {
  background: #000000;
  padding-top: 20px;
  padding-left: 5px;
}
.text_in_right div {
  padding-top: 20px;
}
.text_in_right div h5 {
  color: #bd2026;
}
.text_in_right div p {
  margin-top: 10px;
}
.text_in_right div a {
  color: #0056ff;
}
.text_in_right div a:hover {
  color: #bd2026;
}


/*===================   HELP BOX   =================== */
.help_box {
  margin-bottom: 20px;
}
.help_box .box_number {
  float: left;
  width: 40px;
  height: 40px;
  background: #bd2026;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.help_box .content {
  float: left;
  width: 95%;
  margin-left: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}
.help_box .content .question {
  margin-bottom: 20px;
}
.help_box .content .answer {
  border-left: 6px solid #0056ff;
  padding-left: 8px;
}
/*===================   END--> HELP BOX   =================== */