* {
  font-family: 'Raleway-Regular';
}
a {
  color: #fff;
}
a:hover {
  color: #bd2026;
  text-decoration: none;
}
body {
  background: #212225;
}
#page-wrapper {
  background: #000;
}
.btn {
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
select {
  border-radius: 0px !important;
}
.btn-danger {
  background: #bd2026;
}
.btn-hitsnl {
  background: #2b2b2f;
  color: #818181;
}
.btn-hitsnl:hover {
  background: #bd2026;
  color: #fff;
}
.btn-hitsnl:active {
  background: #bd2026;
  color: #fff;
}
.btn-facebook {
  background: #3f67bf;
}
.btn_full_div {
  width: 100%;
}
.input-group-addon {
  background: #0056f9;
  color: #fff;
}
.selectbox_radius {
  border-radius: 4px !important;
}
select,
input[type=email],
input[type=password],
input[type=text] {
  background: #252321 !important;
  color: #fff !important;
}
.under_line {
  text-decoration: underline !important;
}
.float_left {
  float: left !important;
}
.position_relative {
  position: relative;
}
.text_align_left {
  text-align: left !important;
}
.padding_left_10 {
  padding-left: 10px;
}
.padding_right_10 {
  padding-right: 10px;
}
.margin_top_20 {
  margin-top: 20px;
}
.margin_top_40 {
  margin-top: 40px;
}
.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_bottom_40 {
  margin-bottom: 40px;
}
.line_3_color {
  background: url('../img/line_3_color.jpg') repeat-x;
}