h1,h2,h3,h4,h5 {
	font-family:'Raleway-Bold';
}

small {
	font-family:'Raleway-Regular';
}


/*======================            END---APPLY FONT           ======================*/





/*======================           SETING FONT           ======================*/
@font-face {
	font-family:'Raleway-Bold';
	src: url('../fonts/Raleway-Bold_gdi.eot');
	src: url('../fonts/Raleway-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold_gdi.woff') format('woff'),
		url('../fonts/Raleway-Bold_gdi.ttf') format('truetype'),
		url('../fonts/Raleway-Bold_gdi.svg#Raleway-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'Raleway-Light';
	src: url('../fonts/Raleway-Light_gdi.eot');
	src: url('../fonts/Raleway-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light_gdi.woff') format('woff'),
		url('../fonts/Raleway-Light_gdi.ttf') format('truetype'),
		url('../fonts/Raleway-Light_gdi.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'Raleway-Regular';
	src: url('../fonts/Raleway-Regular_gdi.eot');
	src: url('../fonts/Raleway-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular_gdi.woff') format('woff'),
		url('../fonts/Raleway-Regular_gdi.ttf') format('truetype'),
		url('../fonts/Raleway-Regular_gdi.svg#Raleway-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}



@font-face {
	font-family:'Raleway-Medium';
	src: url('../fonts/Raleway-Medium_gdi.eot');
	src: url('../fonts/Raleway-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Medium_gdi.woff') format('woff'),
		url('../fonts/Raleway-Medium_gdi.ttf') format('truetype'),
		url('../fonts/Raleway-Medium_gdi.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}